<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="myvar" value="myvalue"/>
  <targets>
    <target xsi:type="File" name="file" fileName="${basedir}/logs/${shortdate}.log"
      layout="${longdate}|${uppercase:${level}}|${mdc:item=TraceRefNo}|${mdc:item=ThreadId}|${mdc:item=Elapsed}|${message}" archiveAboveSize="1073741824"
			archiveFileName="${basedir}/logs/${shortdate}.log" archiveEvery="Day" archiveNumbering="Date" maxArchiveFiles="30" />

    <target name="db" xsi:type="Database" connectionString="${gdc:item=connectionString}">
      <commandText>
        insert into dbo.MethodLog (
          Application, LoggedAt, Elapsed, ActivityId, LogLevel, Message, ClassName, MethodName, Args, Result,
          ServerName, RemoteAddress, Logger, ThreadId, Exception, SessionId, ClientIP, ApiUri, TokenLevel, TokenCustId,
          CustId, AccountNo, SeqNo, RequestTime, ResponseTime, UserAgent, UserId
        ) select
          @Application, @LoggedAt, @Elapsed, @ActivityId, @Level, N'', @ClassName, @MethodName, @Arguments, @Result,
          @ServerName, @RemoteAddress, @Logger, @ThreadId, @Exception, @SessionId, @ClientIP, @ApiUri, @TokenLevel, @TokenCustId,
          @CustId, @AccountNo, @SequenceNo, @RequestTime, @ResponseTime, @UserAgent, @UserId;
      </commandText>
      <parameter name="@Application" layout="${mdc:item=ApplicationName}" />
      <parameter name="@LoggedAt" layout="${date}" />
      <parameter name="@Elapsed" layout="${mdc:item=Elapsed}" />
      <parameter name="@ActivityId" layout="${mdc:item=TraceRefNo}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@ClassName" layout="${mdc:item=ClassName}" />
      <parameter name="@MethodName" layout="${mdc:item=MethodName}" />
      <parameter name="@Arguments" layout="${mdc:item=Arguments}" />
      <parameter name="@Result" layout="${mdc:item=Result}" />
      <parameter name="@ServerName" layout="${mdc:item=HostName}" />
      <parameter name="@RemoteAddress" layout="${mdc:item=RemoteIP}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@ThreadId" layout="${mdc:item=ThreadId}" />
      <parameter name="@Exception" layout="${exception:tostring}" />
      <parameter name="@SessionId" layout="${mdc:item=SessionId}" />
      <parameter name="@ClientIP" layout="${mdc:item=ClientIP}" />
      <parameter name="@CustId" layout="${mdc:item=CustId}" />
      <parameter name="@ApiUri" layout="${mdc:item=ApiUri}" />
      <parameter name="@TokenLevel" layout="${mdc:item=TokenLevel}" />
      <parameter name="@TokenCustId" layout="${mdc:item=TokenCustId}" />
      <parameter name="@AccountNo" layout="${mdc:item=AccountNo}" />
      <parameter name="@SequenceNo" layout="${mdc:item=SequenceNo}" />
      <parameter name="@RequestTime" layout="${mdc:item=RequestTime}" />
      <parameter name="@ResponseTime" layout="${mdc:item=ResponseTime}" />
      <parameter name="@UserAgent" layout="${mdc:item=UserAgent}" />
      <parameter name="@UserId" layout="${mdc:item=UserId}" />
    </target>
  </targets>
  <rules>
    <logger name="Devpro.Connectors.Http.HttpConnector.DeserializeObject" level="Trace" writeTo="" final="true" />
    <logger name="*" levels="Trace,Error" writeTo="file" />
    <logger name="*" minlevel="Info" writeTo="db" />
  </rules>
</nlog>
